html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #f0f0f0; 
	font-size: 13px;
}
h1 {
	font-size: 3em;
	margin: 0 0 10px 0;
	display: block;
}
.body-container {
	max-width: 1200px;
	width: 100%;
	display: table;
	margin: 0 auto;
}
.crossword {
	border: 2px solid #B7B7B7;
    margin: 10px auto;
    background: #efefef;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
    display: table;
}
.crossword .row {
    width: 100%;
    display: table;
}
.crossword .row .column {
	font-size: 20px;
	line-height: 25px;
	height: 25px;
	width: 25px;
	text-align: center;
	border: 2px solid #ccc;
	float: left;
	display: block;
}
.crossword .row .column.empty-column {
	background: #ccc;
}
.crossword .row .column.word-tip {
	background: #ccc;
}
.crossword .row .horizontal.column.hover {
	border: 2px solid #B7B7B7;
}
.crossword .row .horizontal.column.hover:first-child {
	border-left: 2px solid #B7B7B7;
}
.crossword .row .horizontal.column.hover:last-child {
	border-right: 2px solid #B7B7B7;
}
.modal-mask {
 	display: none;
}
body.open-modal .modal-mask {
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	z-index: 999;
}
.modal {
 	display: none;
}
body.open-modal .modal {
	display: block;
	width: 400px;
	height: 300px;
	position: absolute;
	background: #f0f0f0;
	border-radius: 4px;
	position: fixed;
	z-index: 9999;
	top: 100px;
	top: calc(50% - 150px);
	left: 40%;
	left: calc(50% - 200px);
	padding: 10px 15px;
	box-sizing: border-box;
}